on: 
  issues:
    types: [opened]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: Add Sponsor Labels
    steps:
    - name: Add Sponsor Labels
      id: sponsors-labels
      uses: brianlagunas/sponsor-action@v1.0
      with:
        maintainers: 'brianlagunas,dansiegel'
        github_token: ${{ secrets.GITHUB_TOKEN }}